.Item-List {
  background: #f7f7f9;
  list-style: none;
  padding: 10px;
  margin: 20px auto;
  width: 75%;
}

.Item {
  text-align: left;
  padding: 9px 9px 9px 18px;
  font-size: 14px;
  background: #cecece;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 15px 0;
}